# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = peromage
	email = peromage@outlook.com
[core]
	autocrlf = false
	quotepath = false
[alias]
	gg = log --graph --pretty=format:'%Cred%h%Creset [%an] - %s %Cgreen(%ci)%Creset %C(cyan)%d%Creset' --abbrev-commit --date=relative
	ss = status
	ac = "!git add -A && git commit -m"
[gui]
	encoding = utf-8
[i18n "commit"]
	encoding = utf-8
[i18n]
	logoutputencoding = utf-8
