# Project files
**/.save/*
.vscode/
.vim/

# Vim plugin directories
plugged/
vim-plugged/
vim-plug/
vim_plugged/
vim_plug/
data/
userdata/
user/

# Coc local files
coc-extensions/*
coc_extensions/
# But includes snippets
!coc-extensions/ultisnips

# Session files
saved_sessions/

# Temp files
.bash_history
.netrwhist
*.swp

# Local config
local.vim
local-vscode.vim
local-gui.vim
coc-settings.json
