[Unit]
Description=Frp Client Service (%i)
After=network.target

[Service]
Type=idle
#User=nobody
Restart=on-failure
RestartSec=5s
ExecStart=/usr/local/bin/frpc -c /usr/local/etc/frpc@%i.ini
ExecReload=/usr/local/bin/frpc reload -c /usr/local/etc/frpc@%i.ini

[Install]
WantedBy=multi-user.target
